map & filter functions && Lambdas

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [4]:
# map()
seq = [1, 2, 3, 4, 5]

In [6]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [7]:
# times2 -> lambda
lambda var:var*2

In [8]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [9]:
# filter
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [10]:
s = 'hello my name is Sam'

In [11]:
s.lower()

'hello my name is sam'

In [12]:
s.upper()

'HELLO MY NAME IS SAM'

In [13]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [14]:
tweet = 'Go Sports! #Sports'

In [16]:
tweet.split('#')[1]

'Sports'

In [17]:
d = {'k1': 1, 'k2': 2}

In [18]:
d.keys()

dict_keys(['k1', 'k2'])

In [19]:
d.items(
)

dict_items([('k1', 1), ('k2', 2)])

In [20]:
d.values()

dict_values([1, 2])

In [21]:
lst = [1, 2, 3]
lst.pop()

3

In [22]:
lst = [1, 2, 3, 4, 5]

In [23]:
item = lst.pop()

In [24]:
item

5

In [25]:
first = lst.pop(0)

In [26]:
first

1

In [27]:
lst

[2, 3, 4]

In [28]:
lst.append('new')

In [29]:
lst

[2, 3, 4, 'new']

In [31]:
'x' in [1, 2, 3, 'x']

True

Tuple unpacking

In [32]:
x = [(1,2), (3,4), (5,6)]

In [33]:
x[0][1]

2

In [34]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [35]:
for (a,b) in x:
    print(a)

1
3
5

In [36]:
for a,b in x:
    print(a)

1
3
5